# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
keys/id_rsa
keys/id_rsa.pub
# System
.DS_Store
.start_time

# Docker / Database
wgp_postgres_data/
wmc_postgres_data/
wmc_clickhouse_data/

# IDE
.vscode/
.idea/

# Large Files / binary
log_processor/GeoLite2-City.mmdb
wmc_postgres_data/

# Logs
*.log

# SSH Keys (if local)
id_rsa
id_rsa.pub
keys/*
!keys/.gitkeep
state.json
